@import "tailwindcss";
@import "tw-animate-css";

:root {
  --radius: 0.625rem;

  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  --mainColor: #00a650;
  --mainColor20: #00a65033;
  --mainColor10: #00a6501a;
  --mainColor11: #3277531a;
  --goldColor: #f4bd4b;
  --whiteColor: #ffffff;
  --darkColor: #1f1f1f;
  --lightGrayColor: #d6d6d6;
  --lightBorderColor: #e1e1e1;
  --grayColor: #777;
  --transition: 0.2s ease-in-out;
  --shadow: 0px 2px 4px #c1c1c1;
  --BigShadow: 0 16px 32px 0 #071c1f1a;
}

@layer base {
  @font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Regular.ttf");
  }

  * {
    padding: 0;
    margin: 0;
    outline: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    -webkit-tap-highlight-color: transparent;
  }

  .left-initial {
    left: initial !important;
  }

  body {
    background-color: var(--background, #ffffff);
    color: var(--foreground, #111111);
  }

  a,
  button {
    cursor: pointer !important;
  }

  .customBtn {
    border: none;
    outline: none;
    background: none;
    isolation: isolate;
    padding: 12px 16px;
    width: 160px;
    margin: auto;
    border: 1px solid var(--mainColor);
    color: var(--mainColor);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: var(--transition);

    &::after {
      position: absolute;
      content: "";
      height: 1000px;
      width: 0;
      right: 50%;
      transition: var(--transition);
      background: var(--mainColor);
      transform: rotate(-25deg);
      z-index: -1;
    }

    &:hover {
      color: #fff;
      border-color: var(--mainColor);

      &::after {
        width: 110%;
        right: -10px;
      }
    }

    &.priamry {
      color: #fff;
      border-color: var(--mainColor);

      &::after {
        width: 110%;
        right: -10px;
      }
    }
  }
}