@import "tailwindcss";
@import "tw-animate-css";

:root {
  --radius: 0.625rem;

  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  --mainColor: #00a650;
  --mainColor20: #00a65033;
  --mainColor10: #00a6501a;
  --mainColor11: #3277531a;
  --goldColor: #f4bd4b;
  --whiteColor: #ffffff;
  --darkColor: #1f1f1f;
  --lightGrayColor: #d6d6d6;
  --lightBorderColor: #e1e1e1;
  --grayColor: #777;
  --transition: 0.2s ease-in-out;
  --shadow: 0px 2px 4px #c1c1c1;
  --BigShadow: 0 16px 32px 0 #071c1f1a;
}

@layer base {
  @font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Regular.ttf");
  }

  * {
    padding: 0;
    margin: 0;
    outline: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    -webkit-tap-highlight-color: transparent;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background-color: white;
  }

  ::-webkit-scrollbar-thumb {
    background: #cdcdcd;
    border-radius: 30px;
    transition: all 0.2s ease-in-out;

    &:hover {
      background: #b3b3b3;
    }
  }

  .left-initial {
    left: initial !important;
  }

  .static_pages {
    h1 {
      display: block;
      color: var(--mainColor);
      margin: 12px 0;
      font-weight: 600;
      font-size: 18px;
    }

    strong {
      color: var(--mainColor);
    }

    table {
      width: 100% !important;

      th,
      td {
        padding: 8px;
      }

      ul {
        list-style: disc;
        font-size: 14px;
        padding-left: 16px;
      }
    }

    p {
      color: var(--grayColor);
      font-size: 14px;
      margin-bottom: 8px;
    }
  }

  body {
    background-color: var(--background, #ffffff);
    color: var(--foreground, #111111);
  }

  a,
  button {
    cursor: pointer !important;
  }

  .first\:border-l:first-child {
    border-left: 0 !important;
  }

  .container {
    width: min(100% - 8px, 1440px) !important;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .home_slider {
    .swiper {
      padding-bottom: 2px;
    }

    .swiper-button-disabled {
      filter: grayscale(1);
      opacity: 0.3;
    }

    .swiper-not-initialized .swiper-wrapper {
      visibility: hidden;
    }

    .swiper-initialized .swiper-wrapper {
      visibility: visible;
    }

    .swiper-slide {
      margin-right: 16px;
      height: auto !important;
    }

    @media (max-width: 639px) {
      .swiper-slide {
        width: 100% !important;
      }
    }

    @media (min-width: 640px) and (max-width: 1023px) {
      .swiper-slide {
        width: calc(50% - 8px) !important;
      }
    }

    @media (min-width: 1024px) {
      .swiper-slide {
        width: calc(25% - 12px) !important;
      }
    }
  }

  .swiperControl {
    position: relative;
    padding: 8px;
    display: flex;
    gap: 24px;
    align-items: center;

    .swiperBtns {
      display: flex;
      gap: 8px;

      .swiper-button-next,
      .swiper-button-prev {
        position: unset !important;
        right: unset;
        left: unset;
        top: unset;
        bottom: unset;
        margin: unset !important;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 40px !important;
        height: 40px !important;
        border: 1px solid var(--darkColor);
        border-radius: 100%;
        transition: var(--transition);
        opacity: 0.8;

        @media screen and (max-width: 768px) {
          width: 32px;
          height: 32px;
        }

        &::after {
          content: "" !important;
          width: 20px;
          height: 20px;
          border-radius: 100%;
          background: none;
          background-image: url("/icons/arrow.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          transition: var(--transition);
          filter: brightness(0);

          @media screen and (max-width: 768px) {
            width: 16px;
            height: 16px;
          }
        }

        &:hover {
          opacity: 1;
          background-color: var(--mainColor);
          color: var(--mainColor);
          border-color: var(--mainColor);

          &::after {
            filter: brightness(0) invert(1);
          }
        }

        &.swiper-button-disabled {
          opacity: 0.2;
        }
      }

      .swiper-button-next {
        right: unset;

        &::after {
          transform: scaleX(-1);
        }
      }
    }
  }

  .customBtn {
    border: none;
    outline: none;
    background: none;
    isolation: isolate;
    padding: 12px 16px;
    width: 160px;
    margin: auto;
    border: 1px solid var(--mainColor);
    color: var(--mainColor);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: var(--transition);

    &::after {
      position: absolute;
      content: "";
      height: 1000px;
      width: 0;
      right: 50%;
      transition: var(--transition);
      background: var(--mainColor);
      transform: rotate(-25deg);
      z-index: -1;
    }

    &:hover {
      color: #fff;
      border-color: var(--mainColor);

      &::after {
        width: 110%;
        right: -10px;
      }
    }

    &.priamry {
      color: #fff;
      border-color: var(--mainColor);

      &::after {
        width: 110%;
        right: -10px;
      }
    }

    &.danger {
      border-color: #ff0000;
      color: #ff0000;
    }

    &.danger::after {
      background: #ff0000;
    }

    &.danger:hover {
      color: #fff;
    }
  }

  html[dir="rtl"] {
    .home_slider {
      .swiper-slide {
        margin-left: 16px !important;
        margin-right: 0 !important;
      }
    }

    .swiperControl .swiperBtns {
      .swiper-button-next::after {
          transform: scaleX(1);
        }
      .swiper-button-prev::after {
          transform: scaleX(-1);
        }
    }
  }
}
